.all{
  margin-top: 100px;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
p{
  font-family: roboto;
  font-size: 20px;
}

.navbar-brand{
  font-family: Poppins;
  margin-right: 30px;
  font-size: 25px;
}


.navbar{
  height: 100px;
  li{
    font-family: roboto;
    margin-right: 50px;
    font-size: 15px;
    margin-top: 24px;
    transition: all ease .5s;
  }
  .navbar-brand{
    margin-top: 24px;
    border: 2px solid #26A65B;
    border-radius: 25px;
    color: $gray-dark;//$gray-dark;
    transition: all ease .5s;
  }
    transition: all ease .5s;
}

.shrink{
  height: 51px;
  li{
    margin-top: 0px;
  }
  .navbar-brand{
    background-color: #fff;
    margin-top: 0px;
  }
  // #navbar{
  //     .nav{
  //       li{
  //         a{
  //           color: darken($navbar-default-brand-color,50%);              //EXTREMELY EXACT
  //         }
  //       }
  //     }
  // }
}

.all{
  .container{
    .top-area{
      p{
        //font-weight: 550;
      }
    }
  }
}

.top-area{
  margin-top: 100px;
  h1{
    font-family: Poppins;

    }
    p{
      line-height: 25px;
      font-family: roboto;
      font-size: 17px;
    }
  }

hr{
  border-width: 1px;
  border-color: #26A65B;
}

.sell-area{
  .container{
    .row{
      #btn1,#btn2,#btn3,#btn4{
        margin: 0;
        padding: 0;
      }
      #col-4,#btn1{
        border-left: solid;
        border-right: solid;
        border-width: 1px;
        border-color: #26A65B;
      }
      #col-3,#btn2{
        border-left: solid;
        border-width: 1px;
        border-color: #26A65B;
      }
      #col-2,#btn3{
        border-left: solid;
        border-width: 1px;
        border-color: #26A65B;
      }
      #col-1,#btn4{
        border-right: solid;
        border-left: solid;
        border-width: 1px;
        border-color: #26A65B;
      }

      .col-md-3, .col-sm-3, .col-xs-3{
        padding: 10;
        h4{
          text-align: center;
        }
        p{
          text-align: center;
        }
        button, .btn, .btn-default{
          width: 100%;
          border: none;
          background-color: #fff;
          h4{
            margin: 3px 0 3px 0;
          }
        }
      }
    }
  }
}

.photo{
  .container{
    #row2{
      margin-top: 15px;
    }
  }
}

#lasthr{
  margin-bottom: 0;
}

#footer{
  background-color: #26A65B;
  .container{
    footer{
      height: 50px;
      margin: 0;
      padding-top: 16px;
    }
  }
}
